@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/* accent: 5d5dff */

html,
body,
#root {
    height: 100%;
    background-color: #151719;
    color: white;
    font-family: Inter, sans-serif;
}

.sidebar_links{
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: white;
        padding-left: 5px;
    }
}